rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /clients/{email} {
      allow read, update: if request.auth.token.email == email;
    }
  }
}
